<div class="app-container">
  <app-finance-card
    [transactions]="transactions"
    [selectedMonth]="currentMonth"
    [selectedYear]="currentYear"
    (changeMonth)="onMonthChange($event)"
  ></app-finance-card>
</div>

<app-transaction-modal
  *ngIf="isTransactionModalOpen"
  [initialMode]="'expenses'"
  [selectedDate]="currentDate"
  (transaction)="handleTransaction($event)"
  (close)="handleCloseModal()"
></app-transaction-modal>

<div class="bg-zinc-200 h-96 overflow-auto rounded-lg p-4 mx-10"></div>

<div class="app-container">
  <app-taskbar
    (openModal)="handleOpenModal()"
    (openCalendar)="handleOpenCalendar()"
  ></app-taskbar>
</div>
