<div class="app-container">
  <app-finance-card
    [transactions]="transactions"
    [selectedMonth]="currentMonth"
    [selectedYear]="currentYear"
    (changeMonth)="onMonthChange($event)"
  ></app-finance-card>
</div>

<app-transaction-modal
  *ngIf="isTransactionModalOpen"
  [initialMode]="'expenses'"
  [selectedDate]="currentDate"
  (transaction)="handleTransaction($event)"
  (close)="handleCloseModal()"
></app-transaction-modal>

<app-calendar-modal
  [isOpen]="isCalendarModalOpen"
  [transactions]="transactions"
  (close)="handleCloseCalendarModal()"
></app-calendar-modal>

<div class="bg-zinc-200 h-96 overflow-auto rounded-lg p-4 mx-10">
  <app-transaction-list
    [transactions]="transactions"
    [selectedMonth]="currentMonth"
    [selectedYear]="currentYear"
  ></app-transaction-list>
</div>

<div class="app-container">
  <app-taskbar
    (openModal)="handleOpenModal()"
    (openCalendar)="handleOpenCalendar()"
  ></app-taskbar>
</div>
